# Dépendances
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers de build
dist/
build/

# Variables d'environnement
.env

# Fichiers IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Données temporaires
tmp/
temp/

# Coverage
coverage/

# Prisma
# Conserver schema.prisma mais ignorer les migrations en développement si besoin
# migrations/