version: "3.8"

services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: gym_db
      POSTGRES_USER: gym_user
      POSTGRES_PASSWORD: gym_password
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: "postgresql://gym_user:gym_password@postgres:5432/gym_db"
    depends_on:
      - postgres
    volumes:
      - .:/app
      - /app/node_modules
    command: sh -c "sleep 10 && npx prisma db push && npm run dev"

volumes:
  postgres_data:
